@model List<FunctionViewModel>


<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu" data-plugin="menu">
                    <li class="site-menu-category">General</li>
                    @foreach (var item in Model.Where(x => string.IsNullOrEmpty(x.ParentId)))
                    {
                        <li class="site-menu-item has-sub">
                            <a href="javascript:void(0)">
                                <i class="@item.IconCss site-menu-icon" aria-hidden="true"></i>
                                <span class="site-menu-title"> @item.Name</span>
                                <div class="site-menu-badge">
                                    <span class="badge badge-pill badge-success">@Model.Where(x => x.ParentId == item.Id).Count()</span>
                                </div>
                            </a>

                            @if (Model.Any(x => x.ParentId == item.Id))
                            {
                                <ul class="site-menu-sub">
                                    @foreach (var jitem in Model.Where(x => x.ParentId == item.Id))
                                    {
                                        <li class="site-menu-item active">
                                            <a class="animsition-link" href="@jitem.URL">
                                                <span class="site-menu-title">@jitem.Name</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }

                        </li>
                    }


                </ul>

            </div>
        </div>
    </div>

    <div class="site-menubar-footer">
        <a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
           data-original-title="Settings">
            <span class="icon wb-settings" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
            <span class="icon wb-eye-close" aria-hidden="true"></span>
        </a>
        <a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
            <span class="icon wb-power" aria-hidden="true"></span>
        </a>
    </div>
</div>

